.friends {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    height: 100%;
    overflow-y: auto;
    background: #2f2f2f
  }
  .friends::-webkit-scrollbar {
    display: none;
  }
  .friends .hover-friend.active {
    background-color: #dfdfdf;
  }
  .friends .hover-friend {
    cursor: pointer;
    flex: 0;
    align-self: stretch;
    background: lightgray;
    border-radius: 5px;
    margin: 5px;
  }
  .friends .hover-friend:hover {
    background-color: #017aff;
  }
  .friends .hover-friend .friend {
    display: flex;
    width: 100%;
    padding: 7px 15px;
  }
  .friends .hover-friend .friend .friend-image .image {
    margin-right: 8px;
    position: relative;
  }
  .friends .hover-friend .friend .friend-image .image img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid var(--text-color);
  }
  .friends .hover-friend .friend .friend-image .image .active_icon {
    position: absolute;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: #2be42b;
    right: -2px;
    bottom: 6px;
    border: 1px solid #fff;
  }
  .friends .hover-friend .friend .friend-name-seen {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .friends .hover-friend .friend .friend-name-seen .friend-name {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
  }
  .friends .hover-friend .friend .friend-name-seen .friend-name h4.unseen_message {
    font-weight: 700 !important;
  }
  .friends .hover-friend .friend .friend-name-seen .friend-name h4 {
    color: var(--text-color);
    font-weight: 300;
  }
  .friends .hover-friend .friend .friend-name-seen .friend-name .msg-time span.unseen_message {
    font-weight: 700 !important;
  }
  .friends .hover-friend .friend .friend-name-seen .friend-name .msg-time span {
    font-size: 12px;
    color: var(--text-color);
  }
  .friends .hover-friend .friend .friend-name-seen .seen-unseen-icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .friends .hover-friend .friend .friend-name-seen .seen-unseen-icon img {
    width: 15px;
    height: 15px;
    border-radius: 50%;
  }
  .friends .hover-friend .friend .friend-name-seen .seen-unseen-icon .unseen, .friends .hover-friend .friend .friend-name-seen .seen-unseen-icon .delivared {
    color: var(--text-color);
  }
  .friends .hover-friend .friend .friend-name-seen .seen-unseen-icon .seen-icon {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: aquamarine;
  }  